<ul class="photo-container">
  <li><img src="https://th.bing.com/th/id/R.df818c6db2fe74a4230ccc863663226e?rik=Bt%2fD%2bcd60%2bv0KQ&pid=ImgRaw&r=0" alt="<%= user.name %>'s Photo" /></li>
</ul>

<ul class="card-details">
  <li class="user-name"><%= user.name %></li>
  <li class="card-dets-num">Number of posts: <%= user.posts_counter %></li>
</ul>